
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center;">Index</h2>

<div>@Html.Action("WaterMeterView")</div><br />

<div>@Html.Action("LightMeterView")</div><br />

<div>@Html.Action("GatewayMeterView")</div>